{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Email</title>
</head>
<body>
    <br><br>
    <table border="1">
        <tr>
            <td>S.No</td>
            <td>Name</td>
            <td>Email</td>
            <td>Date Of Birth</td>
            <td>Gender</td>
            <td>Contact</td>
            <td>Password</td>
        </tr>
    {% for i in alldata %}
            <tr>
                <td align='center'>{{forloop.counter}}</td>
                <td>{{i.name}}</td>
                <td>{{i.email}}</td>
                <td>{{i.dob}}</td>
                <td>{{i.gender}}</td>
                <td>{{i.contact}}</td>
                <td>{{i.password}}</td>
            </tr>
        {% endfor %}
</body>
</html>
{% endblock content%}
